include _assets/bemto/bemto
- set_bemto_settings({modifier: "--"})

include _mixins
include _head

doctype html
html(xmlns="http://www.w3.org/1999/xhtml")
  block head
    head
        +head({
            "title":       "Шаблон",
            "author":      "Автор",
            "description": "Описание",
            "keywords":    "Ключевые слова"
        })

  +b.BODY.main-page
    .grid-view
    +e.wrap
        block header
            //- Хедер

        block content
            //- Контент

        block footer
            //- Футер

    block scripts
        script(src='/assets/js/vendor.js' defer)
        script(src='/assets/js/app.js' defer)