body {
	background-color: #000;
}
.header {
	min-height: 100%;
	height: 10vh;
	background-color: #f5f;
}
.icon-bull {
	display: block;
	width: 40px;
	height: 40px;
	position: relative;
	z-index: 999;
	background: #fec
}
#svgicon-bull {
	path {
	fill: black;
	}
}

.svg-icon2 {
	@extend .svg-2 ;
}