mixin header(data)
	+b.header
		+e.container
			+e.logo
				+b.A.logo(href="###")
					+e.IMG.img(src="assets/img/logo.svg")
			+b.NAV.main-nav
				+e.UL.lists
				each item in data.menu
					+e.LI.item
						+e.A.link(href=item.href)= item.text
			+b.A.btn.--header(href="###") Заявка на просчет
