.header {
	padding: rem(15px) 0;
	background-color: #fff;
	&__container {
		@include container;
	}

	&__logo,
	&__btn {
		@include col(3)
	}
}

.main-nav {
	line-height: rem(40px);

	&__item {
		display: inline-block;
		margin: 0 rem(15px)
	}

	&__link {
		color: #000
	}

}

