mixin intro()
	+b.intro
		+e.container
			+e.info
				+b.intro-info
					+title({"text": "НАДЕЖНАЯ ТИПОГРАФИЯ СО СВОИМ ПРОИЗВОДСТВОМ"})
					+e.P.text Наша цель проста — предоставить нашим клиентам высокий уровень качества и сервиса. Мы верим, что отличные идеи начинаются с отличного дизайна и печати.
					+b.A.info__btn.btn(href="###") Заявка на просчет
			+e.stat
				+b.intro-stat
					+e.SPAN.num 5
					|лет 
					span работы
				+b.intro-stat
					+e.SPAN.num 2500
					|клиентов 
				+b.intro-stat
					+e.SPAN.num 50
					|заказов
					span каждый день
