mixin top-head()
	+b.page-header
		+e.wrap
			+b.page-header-item 
				+e.I.icon(class="mdi mdi-map-marker")
				| г. Киев, ул. Михайловского, 20
			+b.page-header-item 
				+e.I.icon(class="mdi mdi-map-marker")
				| г. Киев, ул. Михайловского, 20
			+b.page-header-item 
				+e.I.icon(class="mdi mdi-map-marker")
				| г. Киев, ул. Михайловского, 20