$cols: 12;
$gutter: 40px;


%container {
	margin: 0 auto;
	box-sizing: border-box;
	display: flex;

	@include breakpoint(320px) {
		width: 100%;
		padding: 0 15px;
	}

	@include breakpoint(480px) {
		width: 100%;
		padding: 0 15px;
	}

	@include breakpoint(768px) {
		width: 750px;
	}

	@include breakpoint(992px) {
		width: 970px;
	}

	@include breakpoint(1200px) {
		width: 1170px;
	}

}

@mixin container ($align: space-between, $wrap: wrap) {
	@extend %container;
	justify-content: $align;
	flex-wrap: $wrap;
}

@mixin col($num) {
	width: calc( (((100% - (#{$gutter} * (#{$cols} -1))) / #{$cols}) * #{$num}) + ( #{$gutter} * (#{$num} - 1)) )
}